body{
    background-color: black;
}

h1{
    font-size: larger;
    color:blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

li{
    font-size: larger;
    color:blue;
    font-family:'Courier New', Courier, monospace
}

.{

}

.{

}

.{

}